.onsenContainer {
    width: 100%;
    padding: 4% 3%;
    margin-bottom: 3%;


	.onsenWrapper {
	   margin: 0 auto;
	   display: flex;
	   width: 95%;
	}

}

.onsenImageContainer {
	background-image: url(images/japan.jpg);
	background-size: cover;
	background-position: center;
	width: 75%;
	height: 450px;
	box-shadow: 10px 10px 5px -6px rgba(240,216,240,.5);
	position: relative;


	&:after  {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 40%;
	border: 5px solid whitesmoke;
	z-index: -1;
	top: 49px;
	}

}		


.onsenHello {
	flex-direction: column;
	margin: auto;
	display: flex;
	justify-content: flex-end;
	width: 35%;
	position: relative;
	right: 10%;

	h1 {
		display: inline-block;
		margin: 0 auto;
		font-size: 2.5em;
		width: 110%;

	}

}



